---
layout: markdown_page
title: Memory Team
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

Build and enhance a highly performant GitLab product portfolio, and establish best practices for performance oriented development.

## Mission

The Memory team is responsible for optimizing GitLab application performance by managing the memory resources required. The team is also responsible for changes affecting the responsiveness of the application.  We will accomplish these goals in two ways. First we will research and resolve reported memory issues to the best of our ability and within our published SLAs.  Additionally, will build tooling to proactively inform developers of the static and dynamic memory consumption of their proposed changes.

## Team Members

The following people are permanent members of the Memory Team:

<%= direct_team(manager_role: 'Engineering Manager, Memory') %>


## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Memory/, direct_manager_role: 'Engineering Manager, Memory') %>

## Meetings
Where we can we follow the GitLab values and communicate asynchronously.  However, there have a few important recurring meetings.  Please reach out to the [#g_memory](https://gitlab.slack.com/messages/CGN8BUCKC) Slack channel if you'd like to be invited.
* Weekly Memory Team meeting - Thursdays (Early US late EU timezones)
    * Altnernating weekly meeting (EU and AU timezone friendly)
* Gitlab Development Week 1 New Hires Introductions - typically Wednesdays as new members join the team
* 

## Boards

 * [Memory:Workflow Kanban](https://gitlab.com/groups/gitlab-org/-/boards/1065668?label_name[]=Memory) - grouped by workflow state
 * [Memory:Planning](https://gitlab.com/groups/gitlab-org/-/boards/1077383?label_name[]=Memory) - grouped by priority
 * [Memory by Milestone](https://gitlab.com/groups/gitlab-org/-/boards/1143987?label_name[]=Memory) grouped by milestone
 * [Memory by Team Member](https://gitlab.com/groups/gitlab-org/-/boards/1156292?label_name[]=Memory)


## Common Links

 * [Memory Team YouTube playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0Kq_5ZWIHYfbcAYjtXYcEZA3)
 * [Memory Team subgroup](https://gitlab.com/gitlab-org/memory-team)
 * [Retrospective page](https://gitlab.com/gl-retrospectives/memory-team)
 * Slack Channel [#g_memory](https://gitlab.slack.com/messages/CGN8BUCKC)
 * [Talent skills](https://about.gitlab.com/job-families/engineering/backend-engineer/#memory) that help the team
 * [Product Development Timeline](https://about.gitlab.com/handbook/engineering/workflow/#product-development-timeline)

