@import "variables";

.salary-container,
.move-container {
  padding: 0 0 45px;

  .col-sm-4,
  .col-sm-8,
  .col-sm-12 {
    padding: 0;
  }

  .col-sm-6 {
    padding: 0 10px 10px 0;

    @media (max-width: $screen-sm-min) {
      padding-right: 0;
    }
  }

  .col-sm-12 {
    h5 {
      display: inline-block;
      color: $color-gray-light;
      font-weight: normal;
    }
  }

  .open-indicator {
    margin-right: 6px;
  }

  // Need to override the given vue border style
  // sass-lint:disable no-important
  .dropdown-toggle {
    border: 1px solid $dropdown-border-color !important;
    border-radius: $border-radius-large;
    min-height: 56px;

    .selected-tag {
      top: 10px;
      left: 2px;
    }
  }

  // Need to override the given vue border style
  // sass-lint:disable no-important
  .dropdown-menu-toggle,
  .dropdown-menu {
    width: 100%;

    li:not(.no-options):hover {
      color: $color-white;
    }
  }

  .v-select.open {
    .title,
    .subtitle {
      display: none;
    }

    .dropdown-menu li {
      margin-top: 0;
    }
  }

  .v-select:not(.open) {
    .vs__actions {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -6px;
    }

    .subtitle {
      color: $color-gray-light;
      position: absolute;
      right: 34px;
      font-size: 15px;
    }

    .title {
      position: absolute;
      bottom: 4px;
    }

    .label {
      position: absolute;
      font-size: 13px;
      top: 7px;
      color: $color-gray-light;
    }
  }

  // Need to override the given vue border style
  // sass-lint:disable no-important
  .dropdown-menu {
    padding: 8px;
    background-color: $color-white;
    box-shadow: $box-shadow !important;
    border: 1px solid $dropdown-border-color !important;
    border-top: 0 !important;

    .highlight,
    .active {

      a {
        border-radius: $border-radius-large;
      }
    }

    .highlight {

      span {
        color: $color-white;
      }
    }

    li {
      padding: 5px 8px;

      &:hover:not(.filter-container),
      &.is-focused:not(.filter-container) {
        cursor: pointer;
        background-color: $dropdown-hover-color;
        text-decoration: none;
        outline: 0;
      }
    }

    .filter-container {
      padding: 5px;
    }
  }

  .compensation {
    border: 1px solid $dropdown-border-color;
    border-radius: 3px;
    height: 100%;
    padding: 10px;

    .title {
      border-bottom: 1px solid $dropdown-border-color;
      padding-bottom: 10px;
    }

    .amount {
      padding-top: 10px;
      font-size: 25px;
    }
  }

  .formula-container {
    margin-top: 20px;
  }

  .formula {
    text-align: center;
    color: $formula-text-color;
    padding-bottom: 20px;
    font-size: 14px;
  }

  .variable,
  .symbol,
  .constant {
    display: inline-block;
  }

  .variable,
  .symbol {
    padding: 3px 8px;
  }

  .variable {
    border: 1px solid $dropdown-border-color;
    background-color: $formula-variable-bg;
    margin-bottom: 10px;

    .name {
      color: $formula-value-color;
      padding-right: 8px;
      border-right: 1px solid $formula-text-color;

      + .value {
        padding-left: 5px;
        background-color: $formula-variable-bg;
      }
    }

    .value {
      background-color: $color-white;
    }
  }

  .symbol:not(.multiplication) {
    padding: 0;
  }

  .variable-group {
    display: inline-block;
    white-space: no-wrap;
  }

  @media (max-width: $screen-sm-min) {
    .dropdown,
    .compensation {
      margin-bottom: 10px;
    }
  }
}

.move-container {
  .title {
    margin-top: 15px;
  }

  @media (min-width: $screen-sm-min) {
    .col-sm-4,
    .updated-compensation {
      padding: 0 5px;
    }
  }

  .col-sm-12 .col-sm-4 {
    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }

  .compensation {
    position: relative;
    min-height: 45px;

    .title,
    .amount {
      position: absolute;
    }

    .title {
      top: 4px;
      margin-top: 0;
      padding: 0;
      font-size: 13px;
      border: 0;
    }

    .amount {
      bottom: 4px;
      font-size: 15px;
    }
  }
}

.filter-container {
  .filter-input {
    padding: 0 7px;
    width: 100%;
    line-height: 30px;
    outline: 0;
    border: 1px solid $dropdown-filter-border-color;
    border-radius: 2px;

    &:hover,
    &:focus {
      outline: 0;
      box-shadow: none;
      border-color: $dropdown-focus-color;

      ~ .fa-search {
        color: $dropdown-fa-focus-color;
      }
    }
  }

  .fa-search {
    position: absolute;
    top: 22px;
    right: 25px;
    color: $dropdown-fa-color;
  }
}

.input-container {
  position: relative;
  min-height: 45px;
  margin: 0;
  padding: 6px 20px 6px 10px;
  border: 1px solid $dropdown-border-color;
  border-radius: 3px;

  &:hover {
    border-color: $dropdown-focus-color;
  }

  .input-label,
  .input-prefix,
  .input-field,
  .input-suffix {
    position: absolute;
  }

  .input-prefix,
  .input-suffix {
    bottom: 3px;
    color: $color-gray-light;
  }

  .input-label {
    top: 4px;
    font-size: 13px;
    color: $color-gray-light;
    font-weight: normal;
  }

  .input-prefix {
    left: 10px;
  }

  .input-field {
    bottom: 4px;
    left: 20px;
    padding: 0;
    width: 75%;
    height: 18px;
    font-size: 15px;
    outline: 0;
    border: 0;
    box-shadow: none;

    &:hover,
    &:focus {
      outline: 0;
      box-shadow: none;
      border-color: $dropdown-focus-color;
    }
  }

  .input-suffix {
    right: 10px;
  }

  &.has-value {
    .input-prefix,
    .input-suffix {
      color: $dropdown-fa-focus-color;
    }
  }

  @media (max-width: $screen-sm-min) {
    margin-bottom: 10px;
  }
}
